@width-main: 1280px;
@width-article-img: 75px;
@section-4-mr-img: 20px;
@section-5-radius: 5px;

.container{
	width:  @width-main;
	margin: 0 auto;
}
.page-header{
	width: 100%;
	min-height: 323px;
	box-sizing: border-box;
	padding: 50px 50px 50px 50px;
	background: url(../img/header-bg.png);
}
.page-header-wrapper{
	float: left;
	margin: 0px;
	padding: 0px;
}
.page-header-title{
	display: block;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 60px;
	font-weight: 400;
	margin: 0px 0px 15px 0px;
}
.page-header-list{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.page-header-list li{
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	position: relative;
	padding: 0px 0px 0px 36px;
}
.page-header-list li:before{
	content: "";
	display: block;
	width: 25px;
	height: 19px;
	position: absolute;
	top: 9px;
	left: 1px;
	background-image: url(../img/check_icon.png);
	background-size: cover;
	background-repeat: no-repeat;

}
.page-header-photo{
	display: block;
	border: 1px solid black;
	float: right;
}
.main{
	box-sizing:border-box;
}
.section-1{
	width: 100%;
	min-height: 345px;
	box-sizing: border-box;
	padding: 50px 50px 50px 50px;
	margin: 0;
}
.section1-wrapper{
	width: 649px;
	float: left;
}
.section1-paragr{
	font-family: ArialMT;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}
.section-1-title{
	font-family: ArialMT;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
}
.section1-video{
	display: block;
	float: right;
}
.section-2{
	width: 100%;
	min-height: 465px;
	padding: 50px 50px 50px 50px;
	box-sizing: border-box;
	margin: 0;
}
.section-2-title{
	clear: both;
	text-align: center;
	font-family: ArialMT;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
}
details{
	min-height: 90px;
}
summary{
	min-height: 90px;
	outline: none;
}
summary::-webkit-details-marker {
    display: none
}
summary:before {
    background-color: #445161;
    content: "+";
    color: #fff;
 	padding: -5px 10px 0 0;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    display: block;
    width: 32px;
    height: 32px;
}
details[open] summary:before {
    content: "-";
    display: block;
    width: 32px;
    height: 32px;
}
.paragr-summary{
	display: block;
	float: left;
	margin: -93px 0px 0px 15px;
	width: 526px;
	font-family: ArialMT;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	padding: 0px 0px 0px 35px;
}
.sum-wrapper{
	width: 575px;
	min-height: 270px;
	float: left;
	margin: 0px 14px 35px 0px;
}
.section-3{
	width: 100%;
	min-height: 550px;
	padding: 51px 50px 49px 50px;
	margin: 0;
	box-sizing: border-box;
}
.h2-section-3{
	text-align: center;
	font-family: ArialMT;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
}
.section-3-figure{
	width: 574px;
	float: left;
	margin: 0px 16px 30px 0px;
}
.section-3-img-figure{
	float: left;
	margin:	0px 15px 0px 0px;
}
.section3-h3-figure{
	text-align: center;
	font-family: ArialMT;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #445161;
	margin: 0px 0px 15px 0px;
}
.section-3-figcaption{
	font-family: ArialMT;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}
.section3-p-figcaption{
	width: 	360px;
	min-height: 89px;
	padding: 0px 0px 0px 214px;
	margin: 0;
}
.section-4{
	width: 100%;
	min-height: 487px;
	box-sizing: border-box;
	padding: 50px;
}
.h2-section-4{
	font-family: ArialMT;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
	text-align: center;
}
.section-4-article{
	float: left;
	display: block;
	width: 574px;
	min-height: 121px;
	margin: 0px 16px 24px 0px;
	box-sizing: border-box;
}
.section-4-p{
	font-family: ArialMT;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-style: italic;
	color: #333333;
	overflow: hidden;
}
.section-4-span{
	font-family: ArialMT;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #989898;
	// padding-left: @width-article-img + @section-4-mr-img;
}
article:before {
	content: "";
	display: block;
	width: @width-article-img;
	height: 75px;
	float: left;
	background-image: url('../img/circ_photo.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: @section-4-mr-img;
}
.section-4-par-wrapper{
	width: 475px;
	min-height: 121px;
	overflow: hidden;
	background-color: #ebebeb;
}

.section-5{
	padding: 50px 145px 50px 145px;
	width: 100%;
	min-height: 656px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}
.section-5-h2{
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: ArialMT;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
	text-align: center;
}
.section-5-purchase1{
	border: 2px solid #445162;
	width: 300px;
	height: 306px;
	background-color: #445162;
	border-radius: @section-5-radius;
	list-style-position: inside;
}
.section-5-purchase2{
	border: 2px solid #445162;
	width: 300px;
	height: 404px;
	background-color: #445162;
	border-radius: @section-5-radius;
	list-style-position: inside;
}
.section-5-purchase3{
	border: 2px solid #445162;
	width: 300px;
	height: 499px;
	background-color: #445162;
	border-radius: @section-5-radius;
	list-style-position: inside;
}
.section-5-h3{
	font-family: ArialMT;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	padding: 0;
	margin: 0;
}
.section-5-price {
	display: block;
	text-align: center;
	width: 300px;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
	font-family: ArialMT;
	font-size: 40px;
	line-height: 30px;
	font-weight: 400;
	color: #445162;
	}
.section-5-list{
	font-family: ArialMT;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
}
.purchase-button{
	display: block;
	margin: 0 auto 20px;
	text-align: center;
	width: 260px;
	height: 40px;
	border-radius: @section-5-radius;
	text-transform: uppercase;
	outline: none;
	&:hover{
		color: red;
		background: saturate(white, 20%);
	}
	&:active{
		color: blue;
		background: desaturate(white, 20%);
	}
}
.page-footer{
	width: 1280px;
	min-height: 509px;
	background-color: #445161;
	padding: 52px 244px 52px 244px;
	box-sizing: border-box;
	float: left;
	position: relative;
}
.page-footer-h2{
	font-family: ArialMT;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
}
.page-footer-section1{
	width: 501px;
	min-height: 375px;
	float: left;
	margin: 0px 46px 0px 0px;
}
.page-footer-section2{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width: 244px;
	overflow: hidden;
}
.textarea::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder{ 
	font-family: ArialMT;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #445162;
}
input[type="textarea"]::placeholder{
 	
}
input[type="email"],
input[type="text"]{
	width: 500px;
	height: 40px;
	background-color: #ffffff;
	margin: 0px 0px 21px 0px;
}
.textarea{
	width: 500px;
	height: 170px;
	background-color: #ffffff;
	resize: none;
	margin: 0px 0px 21px 0px;
}
input[type="submit"]{
	display: block;
	width: 140px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 5px;
	font-family: ArialMT;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #445162;
	margin: 0 auto;
}
.footer-skype,
.footer-icq,
.footer-email,
.footer-phone{
	text-decoration: none;
	font-family: ArialMT;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	padding: 0px;
	margin: 0px;
}
.page-footer-list{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.page-footer-list li{
	margin: 0px 0px 29px 0px;
}
.page-footer-list li:nth-child(1) :before{
	content: "";
	display: block;
	float: left;
	width: 24px;
	height: 26px;
	background-image: url(../img/skype_icon.png);
	margin: 0px 8px 0px 0px;
}
.page-footer-list li:nth-child(2) :before{
	content: "";
	display: block;
	float: left;
	width: 26px;
	height: 26px;
	background-image: url(../img/icq_icon.png);
	margin: 0px 8px 0px 0px;
}
.page-footer-list li:nth-child(3) :before{
	content: "";
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	background-image: url(../img/email_icon.png);
	margin: 0px 8px 0px 0px;
}
.page-footer-list li:nth-child(4) :before{
	content: "";
	display: block;
	float: left;
	width: 24px;
	height: 23px;
	background-image: url(../img/phone_icon.png);
	margin: 0px 8px 0px 0px;
}
.social-images{
	display: block;
	width: 241px;
	height: 43px;
	background-image: url(../img/social_buttons.png);
	background-repeat: no-repeat;
}
.end-span{
	display: block;
	width: 100%;
	clear: both;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #445162;
	position: absolute;
	bottom: 0;
	left: 0;
	background: white;
}